<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pustak</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    
    {{<header}}

    <div class="topbottom">
        <strong>
            <p class="puss">Pustak</p>

            <input placeholder="Search" type="search" style="width: 350px;"><br>

            <a href=""><button id="s"> Search </button></a>
            
            <p class="inr">INR 0.00 </p>
            <p class="cart-item">0</p>
            <div class="cart"> <img src="cart.png"></div>
        </strong>
        
    </div>
    <img class="pog" src="frame21.png">
    <div class="f2container">
        <div class="pbox1"><img src="pbook1.png">   
        </div> 
        
        <span class="para1">
            <h1>What I Learned From The Trees</h1>
            <h1 class="star">⭐⭐⭐⭐⚝</h1>
            <p class="tag5">L. E. Bowman</p><br>
            <p class="tag6"> What I Learned from the Trees delves into the intricate 
                <br> relationship between humans and nature, and how these often <br> 
                overlooked, everyday interactions affect us as individuals, <br> families, 
                and communities. With a backbone rooted in <br> primordial imagery and allegory,
                and a focus on how the <br> growing disconnect with our own wants, needs, and fears 
                <br> creates deeper divides in our relationships, this collection is <br> notably relevant
                to today's society and the struggles we face <br> with the ever-expanding detachment between 
                humans and the <br> natural world. Aren't all living creatures seeking a notable 
                <br> existence? A deep sense of belonging? Of relevance?
                Of <br> purpose? Of love? How often do we yearn for these wants, yet <br> 
                fight the vulnerability it takes to reach them? Why do we so <br> clearly seek each other, 
                yet refuse to reach out our hands?</p>


        </span>

        <div class="pbox2">
            <p class="para2">Rs. 749.00 <br><br><br> Only 14 left in stock</p>
            <p class="tag7"><img src="boxwrap.png">Free delivery all over India</p>
            <a href=""><button id="gif">Gift wrap this item for Rs.50.00 </button></a>
            <a href=""><button id="gif1">Add to cart</button></a>
            <a href="address.html"><button id="gif2">Buy</button></a>

        </div>
    </div>

    <!-- <div class="categories">
        <strong>
            <p class = "cate">
                 Categories: Poetry Books/NaturalHistory Books/ Places&People: Pictorial Works
                 <br> 
            </p>
        </strong>
    </div> -->