
    <div class="top">
        <img src="home.png">
            <a href="contactus.html"><p class="contact">Contact</p></a>
            <a href=""><p class="help">Help</p></a>
            <a href=""><p class="wish">Wishlist</p></a>
            <a href="#"><p class="order">MyOrder</p></a>
            <a href="signup.html"><p class="sign">Sign in/Sign up</p></a>
        
    </div>
